/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: "Tahoma", sans-serif;
  width: 100%;
  margin: 0 auto;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h3 {
  font-size: 2.8rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
header {
  margin: 20px 100px 20px 100px;
  display: flex;
  justify-content: space-between;
}
header .navbar {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  header .navbar {
    justify-content: space-around;
  }
}
header .navbar img {
  width: 100px;
  height: 100px;
}
header .navbar h1 {
  width: 300px;
  color: #58b1e9;
  padding: 25px;
}
@media (max-width: 650px) {
  header .navbar h1 {
    width: 200px;
  }
}
@media (max-width: 500px) {
  header .navbar h1 {
    display: none;
  }
}
header .navbar button {
  margin-top: 25px;
  background: #58b1e9;
  width: 300px;
  height: 50px;
  border: none;
  border-radius: 10px;
  font-size: 2.5rem;
  color: white;
}
@media (max-width: 1024px) {
  header .navbar button {
    width: 100px;
    height: 60px;
  }
}
@media (max-width: 900px) {
  header .navbar button {
    display: none;
  }
}
@media (max-width: 500px) {
  header .navbar button {
    display: none;
  }
}
header .nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .nav .nav-button {
  width: 90px;
  height: 90px;
}
a {
  text-decoration: none;
  color: gray;
  font-size: 1.5rem;
  display: none;
}
.displayA {
  display: flex;
  border-top: 1px solid gray;
  padding: 10px;
  width: 100%;
}
.border {
  border: 1px solid grey;
  border-radius: 10px;
}
.top-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 20px;
  background-image: linear-gradient(#5887f9, #60c3ff, white);
  padding: 20px 20px 50px 20px;
  color: white;
}
.top-content h2 {
  padding: 10px;
}
.top-content p {
  padding: 10px;
}
.top-content img {
  margin: 10px;
  width: 40%;
  align-self: center;
  border-radius: 10px;
}
@media (max-width: 1024px) {
  .top-content img {
    width: 80%;
  }
}
@media (max-width: 500px) {
  .top-content img {
    width: 98%;
  }
}
.for-mentors {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 420px;
  margin-bottom: 20px;
  color: #1f1f1f;
}
@media (max-width: 1024px) {
  .for-mentors {
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
  }
}
@media (max-width: 500px) {
  .for-mentors {
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }
}
.for-mentors .text-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 40%;
}
@media (max-width: 1024px) {
  .for-mentors .text-content {
    width: 80%;
    align-items: center;
  }
}
@media (max-width: 500px) {
  .for-mentors .text-content {
    width: 98%;
    align-items: center;
  }
}
@media (max-width: 1024px) {
  .for-mentors .text-content h3 {
    font-size: 4rem;
  }
}
.for-mentors .text-img {
  width: 40%;
  padding: 20px;
}
@media (max-width: 1024px) {
  .for-mentors .text-img {
    width: 98%;
  }
}
@media (max-width: 500px) {
  .for-mentors .text-img {
    width: 98%;
  }
}
.for-mentors .text-img img {
  border-radius: 10px;
}
.for-mentees {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  width: 100%;
  height: 500px;
  margin-bottom: 10px;
  background-image: linear-gradient(white, #5887f9, #60c3ff);
  color: white;
  padding-top: 50px;
}
@media (max-width: 500px) {
  .for-mentees {
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }
}
@media (min-width: 1300px) {
  .for-mentees {
    height: 600px;
  }
}
@media (max-width: 500px) {
  .for-mentees {
    height: 700px;
  }
}
.for-mentees .text-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 40%;
}
@media (max-width: 500px) {
  .for-mentees .text-content {
    width: 98%;
    align-items: center;
  }
}
.for-mentees .text-img {
  width: 40%;
  padding: 20px;
}
@media (max-width: 500px) {
  .for-mentees .text-img {
    width: 98%;
  }
}
.for-mentees .text-img img {
  border-radius: 10px;
}
.join-now {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
  height: 100px;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 50px;
  color: #1f1f1f;
}
.join-now button {
  width: 50%;
  background: #58b1e9;
  height: 50px;
  border: none;
  border-radius: 10px;
  font-size: 2.5rem;
  color: white;
}
@media (max-width: 500px) {
  .join-now button {
    width: 400px;
    height: 100px;
    font-size: 3rem;
  }
}
