/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: "Tahoma", sans-serif;
  width: 100%;
  margin: 0 auto;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h3 {
  font-size: 2.8rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
h5 {
  font-size: 2rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
body {
  margin: 0 80px 0 80px;
}
.displayA {
  display: flex;
  justify-content: flex-end;
}
header {
  margin: 0 100px 20px 100px;
}
header .navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
header .navbar img {
  width: 5%;
}
header .navbar h1 {
  width: 80%;
  color: #58b1e9;
  padding: 10px;
}
header .navbar .nav-button {
  width: 80px;
  height: 80px;
}
header a {
  text-decoration: none;
  color: gray;
  display: none;
  font-size: 3rem;
}
.top-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 20px;
  background-image: linear-gradient(#5887f9, #60c3ff, white);
  padding: 20px 20px 50px 20px;
  color: white;
}
.top-content h2 {
  padding: 10px;
}
.top-content p {
  padding: 10px;
}
.top-content img {
  margin: 10px;
  width: 40%;
  align-self: center;
  border-radius: 10px;
}
.for-mentors {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 420px;
  margin-bottom: 20px;
  color: #1f1f1f;
}
.for-mentors .text-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 40%;
}
.for-mentors .text-img {
  width: 40%;
  padding: 20px;
}
.for-mentors .text-img img {
  border-radius: 10px;
}
.for-mentees {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  width: 100%;
  height: 500px;
  margin-bottom: 10px;
  background-image: linear-gradient(white, #5887f9, #60c3ff);
  color: white;
  padding-top: 50px;
}
.for-mentees .text-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 40%;
}
.for-mentees .text-img {
  width: 40%;
  padding: 20px;
}
.for-mentees .text-img img {
  border-radius: 10px;
}
.join-now {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
  height: 100px;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 50px;
  color: #1f1f1f;
}
.join-now button {
  width: 50%;
  background: #58b1e9;
  height: 50px;
  border: none;
  border-radius: 10px;
  font-size: 2.5rem;
  color: white;
}
body {
  margin-left: 0;
}
body .container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-image: linear-gradient(#5887f9, #468db9, white);
  color: white;
}
@media (max-width: 800px) {
  body .container {
    background-image: none;
    background: #5887f9;
  }
}
body .container h2 {
  padding: 20px;
  background-image: linear-gradient(to right, #152a6b, #c0c0c0);
}
body .container .team-info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
@media (max-width: 800px) {
  body .container .team-info {
    flex-direction: column;
  }
}
body .container .team-info .scopes {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 20%;
  text-align: center;
  height: 500px;
  padding: 20px;
}
@media (max-width: 800px) {
  body .container .team-info .scopes {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 250px;
  }
  body .container .team-info .scopes :first-child {
    order: 5;
  }
}
@media (max-width: 500px) {
  body .container .team-info .scopes {
    flex-direction: column;
    width: 100%;
    height: 350px;
  }
}
body .container .team-info .scopes .tab {
  background: #152a6b;
  height: 50px;
  font-size: 2rem;
  padding-top: 14px;
  border-radius: 10px;
  font-size: 1vw;
}
@media (max-width: 800px) {
  body .container .team-info .scopes .tab {
    width: 40%;
    font-size: 2rem;
  }
}
@media (max-width: 500px) {
  body .container .team-info .scopes .tab {
    width: 100%;
    font-size: 2rem;
  }
}
body .container .team-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
body .container .team-cards .card {
  width: 350px;
  margin: 40px;
  animation: fadeIn 2s;
}
@media (max-width: 800px) {
  body .container .team-cards .card {
    width: 35%;
  }
}
@media (max-width: 500px) {
  body .container .team-cards .card {
    width: 350px;
    margin: 10px;
    padding-bottom: 30px;
    border-bottom: 2px solid lightgray;
  }
}
body .container .team-cards .card .name-contain {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body .container .team-cards .card .name-contain h3 {
  margin-left: 5%;
}
body .container .team-cards .card .name-contain a {
  margin-right: 5%;
}
body .container .team-cards .card h5 {
  margin-left: 5%;
}
body .container .team-cards .card img {
  border-radius: 10px;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
