.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-image: linear-gradient(#5887f9, #468db9, white);
  color: white;
  h2 {
    padding: 20px;
  }
  .team-info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    .scopes {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: 20%;
      text-align: center;
      height: 500px;
      padding: 20px;
      .tab {
        // border: 1px solid blue;
        background: #4c5264;
        height: 50px;
        font-size: 2rem;
        padding-top: 14px;
        border-radius: 10px;
        // color: black;
      }
    }
  }
  .team-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .card {
      width: 350px;
      //   border: 1px solid red;
      margin: 40px;
      .name-contain {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        h3 {
          margin-left: 5%;
        }
        a {
          margin-right: 5%;
        }
      }
      h5 {
        margin-left: 5%;
      }
      img {
        border-radius: 10px;
      }
    }
  }
}
