body {
  margin: 0 80px 0 80px;
}

.displayA {
  display: flex;
  justify-content: flex-end;
}

header {
  margin: 0 100px 20px 100px;
    .navbar {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
    img {
      width: 5%;
    }
    h1 {
      width: 80%;
      color: #58b1e9;
      padding: 10px;
      //   border: 1px solid red;
    }
    .nav-button {
      width: 80px;
      height: 80px;
    }
  }
    a {
        text-decoration: none;
        color: gray;
        display: none;
        font-size: 3rem;
      }
    }



.top-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  //   border: 1px solid red;
  margin-bottom: 20px;
  //   background: #5887f9;
  background-image: linear-gradient(#5887f9, #60c3ff, white);
  padding: 20px 20px 50px 20px;
  color: white;
  h2 {
    padding: 10px;
  }
  p {
    padding: 10px;
  }
  img {
    margin: 10px;
    width: 40%;
    align-self: center;
    border-radius: 10px;
    // border: 1px solid red;
  }
}

.for-mentors {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  //   margin-left: 10%;
  //   margin-right: 10%;
  height: 420px;
  margin-bottom: 20px;
  //   border: 1px solid red;
  color: rgb(31, 31, 31);
  .text-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 40%;
    // border: 1px solid blue;
  }
  .text-img {
    width: 40%;
    padding: 20px;
    // border: 1px solid red;
    img {
      border-radius: 10px;
    }
  }
}

.for-mentees {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  width: 100%;
  //   margin-left: 10%;
  //   margin-right: 10%;
  height: 500px;
  margin-bottom: 10px;
  //   padding: 20px;
  //   border: 1px solid red;

  //   background: #5887f9;
  background-image: linear-gradient(white, #5887f9, #60c3ff);
  color: white;
  padding-top: 50px;
  .text-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 40%;
    // border: 1px solid blue;
  }
  .text-img {
    width: 40%;
    padding: 20px;
    // border: 1px solid red;

    img {
      border-radius: 10px;
    }
  }
}

.join-now {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
  height: 100px;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 50px;
  color: rgb(31, 31, 31);
  //   border: 1px solid red;
  button {
    width: 50%;
    background: #58b1e9;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-size: 2.5rem;
    color: white;
  }
}
